.big{
    
    text-align:center;
    color:black;
}
.small{
    text-align:center;
    color:blueviolet;
}
.original{float:left;
}
.bordered{
    border: 20px solid #000;
}


h2{

text-align: center; 
}

h3{
    text-align: center;
}